

body{
    margin: 0;
}

.tweetmaindiv{
    display: flex;

}

.tweet-2{
    padding: 10px 20px 10px 50px;
}

.happening{
    font-size: 60px;
    font-family: arial black;
}

.join-twitter{
    font-size: 30px;
    font-family: arial black;
}

.signup-google{
    padding: 12px;
    border-radius: 50px;
    padding-right: 85px;
    padding-left: 85px;
    background-color: white;
    border: 1px solid rgb(194, 194, 194);
}

.signup-apple{
    padding: 12px;
    border-radius: 50px;
    padding-right: 90px;
    padding-left: 90px;
    background-color: white;
    border: 1px solid rgb(194, 194, 194);
}

.phone-email{
    padding: 12px;
    border-radius: 50px;
    padding-right: 62px;
    padding-left: 62px;
    background-color: rgb(78, 90, 247);
    border: 1px solid rgb(194, 194, 194);
    color: white;
}

.signin-button{
    padding: 12px;
    border-radius: 50px;
    padding-right: 120px;
    padding-left: 120px;
    background-color: white;
    border: 1px solid rgb(194, 194, 194);
    color: rgb(67, 67, 247);
    font-size: 14.5px;
    transition: 1s;
}
.signin-button:hover{
    padding: 13px;
    border-radius: 50px;
    padding-right: 120px;
    padding-left: 120px;
    color: white;
    background-color: rgb(67, 67, 247);
}
.have-an-account{
    font-size: 20px;
}

.lists-footer ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    font-size: 14px;
    color: rgb(68, 67, 67);
}

.copyright{
    text-align: center;
    color: rgb(68, 67, 67);
}

.cookiepolicy{
    padding: 5px 100px 0px 0px;
    font-size: 12px;
}
.lists-footer:hover ul li{
    color: green;
    font-size: 15px;
}
 
 kk